@import "~@angular/material/theming";

$app-primary: mat-palette($mat-pink);
$app-accent:  mat-palette($mat-blue-gray);
$app-warn:    mat-palette($mat-deep-orange);

// Theme colors
$primary: mat-color($app-primary);
$accent: mat-color($app-accent);
$warn: mat-color($app-warn);
