<div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="2%" class="full-page__container">
  <div class="contact__left" fxFlex="25%">
    <img
      class="contact__image"
      src="./assets/contact/networking.svg"
      alt="Networking">
  </div>
  <div class="contact__right" fxFlex="25%">
    <h1 class="contact__title">Contact</h1>
    <p>Would you like to contribute to this project?</p>
    <p>Send an email to: <a href="mailto:tomaszk1@hotmail.co.uk">tomaszk1@hotmail.co.uk</a></p>
  </div>
</div>
