<div fxLayout="row wrap">
  <div class="home__page-top">
    <img
      class="home__image"
      src="./assets/home/factory-production-1920x654.jpg"
      alt="Robots Assembling Car">
    <div class="home__title-container" fxLayout="column wrap" fxLayoutAlign="center center">
      <h1 class="home__title">Factory Simulator</h1>
      <h2 class="home__description">Run configurable simulations of scalable production line</h2>
    </div>
    <div class="home__card-container">
      <div fxLayout="row wrap" fxLayoutGap="2%">
        <mat-card fxFlex="32">
          <mat-card-header>
            <div mat-card-avatar>
              <mat-icon class="home__card-icon">settings</mat-icon>
            </div>
            <mat-card-title>Configure Multiple Simulations</mat-card-title>
            <mat-card-subtitle>Simply add new configurations using an intuitive UI</mat-card-subtitle>
          </mat-card-header>
          <img matCardImage [src]=""
               class="card-image">
          <mat-card-content></mat-card-content>
        </mat-card>

        <mat-card fxFlex="32">
          <mat-card-header>
            <div mat-card-avatar>
              <mat-icon class="home__card-icon">play_circle</mat-icon>
            </div>
            <mat-card-title>Run Experiments In Parallel</mat-card-title>
            <mat-card-subtitle>Speed up benchmarking by starting several simulations at once</mat-card-subtitle>
          </mat-card-header>
          <img matCardImage [src]=""
               class="card-image">
          <mat-card-content></mat-card-content>
        </mat-card>

        <mat-card fxFlex="32">
          <mat-card-header>
            <div mat-card-avatar>
              <mat-icon class="home__card-icon">analytics</mat-icon>
            </div>
            <mat-card-title>Visualise Results</mat-card-title>
            <mat-card-subtitle>Utilise easy to use tools to show and validate your predictions</mat-card-subtitle>
          </mat-card-header>
          <img matCardImage [src]=""
               class="card-image">
          <mat-card-content></mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
