/* You can add global styles to this file, and also import other style files */
@import "~src/app/styles/app-theme";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

app-root {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.error-dialog-panel {
  min-width: 250px;
  min-height: 100px;
}

.error-dialog-panel mat-dialog-container {
  padding: 0;
  box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 1px;
}

.notification-service-base {
  color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 1px;
}

.notification-service-success {
  @extend .notification-service-base;
  background: $accent;
}

.notification-service-error {
  @extend .notification-service-base;
  background: $warn;
}
